In [48]:
import pandas as pd
from datetime import timedelta
import numpy as np

In [49]:
data = pd.read_csv("boston_2017.csv")

In [50]:
data.columns

Index(['start_time', 'end_time', 'start_station_id', 'end_station_id',
       'start_station_name', 'end_station_name', 'bike_id', 'user_type'],
      dtype='object')

In [51]:
data.tail()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
1313769,2017-12-31 23:46:18,2017-12-31 23:50:27,117,141,Binney St / Sixth St,Kendall Street,1846,Subscriber
1313770,2017-12-29 16:11:56,2017-12-29 16:16:18,54,42,Tremont St at West St,Boylston St at Arlington St TEMPORARY WINTER L...,2,Subscriber
1313771,2017-12-30 08:09:44,2017-12-30 08:26:08,54,58,Tremont St at West St,Beacon St at Arlington St,1534,Subscriber
1313772,2017-12-30 12:20:01,2017-12-30 12:49:12,54,46,Tremont St at West St,Christian Science Plaza - Massachusetts Ave at...,1978,Subscriber
1313773,2017-12-30 18:27:39,2017-12-30 18:53:54,54,21,Tremont St at West St,Prudential Center - Belvedere St,15,Subscriber

# Check for null values

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313774 entries, 0 to 1313773
Data columns (total 8 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   start_time          1313774 non-null  object
 1   end_time            1313774 non-null  object
 2   start_station_id    1313774 non-null  int64
 3   end_station_id      1313774 non-null  int64
 4   start_station_name  1313774 non-null  object
 5   end_station_name    1313774 non-null  object
 6   bike_id             1313774 non-null  int64
 7   user_type           1313774 non-null  object
dtypes: int64(3), object(5)
memory usage: 80.2+ MB

In [53]:
len(data) - len(data.dropna())

0

In [77]:
groupByStationName = data.groupby("start_station_name").describe()
groupByStationName

                                                   start_station_id         \
                                                              count   mean
start_station_name
175 N Harvard St                                             6914.0  149.0
18 Dorrance Warehouse                                          71.0    1.0
359 Broadway - Broadway at Fayette Street                    9279.0  116.0
8D OPS 03                                                       1.0  153.0
8D QC Station 01                                                4.0  229.0
...                                                             ...    ...
Wentworth Institute of Technology - Huntington ...           4329.0  160.0
West Broadway at D Street                                      12.0  161.0
West Broadway at Dorchester St                                 30.0  121.0
Wilson Square                                                3003.0   99.0
Yawkey Way at Boylston St.                                  12010.0   45.0

                                                                              \
                                                    std    min    25%    50%
start_station_name
175 N Harvard St                                    0.0  149.0  149.0  149.0
18 Dorrance Warehouse                               0.0    1.0    1.0    1.0
359 Broadway - Broadway at Fayette Street           0.0  116.0  116.0  116.0
8D OPS 03                                           NaN  153.0  153.0  153.0
8D QC Station 01                                    0.0  229.0  229.0  229.0
...                                                 ...    ...    ...    ...
Wentworth Institute of Technology - Huntington ...  0.0  160.0  160.0  160.0
West Broadway at D Street                           0.0  161.0  161.0  161.0
West Broadway at Dorchester St                      0.0  121.0  121.0  121.0
Wilson Square                                       0.0   99.0   99.0   99.0
Yawkey Way at Boylston St.                          0.0   45.0   45.0   45.0

                                                                  \
                                                      75%    max
start_station_name
175 N Harvard St                                    149.0  149.0
18 Dorrance Warehouse                                 1.0    1.0
359 Broadway - Broadway at Fayette Street           116.0  116.0
8D OPS 03                                           153.0  153.0
8D QC Station 01                                    229.0  229.0
...                                                   ...    ...
Wentworth Institute of Technology - Huntington ...  160.0  160.0
West Broadway at D Street                           161.0  161.0
West Broadway at Dorchester St                      121.0  121.0
Wilson Square                                        99.0   99.0
Yawkey Way at Boylston St.                           45.0   45.0

                                                   end_station_id              \
                                                            count        mean
start_station_name
175 N Harvard St                                           6914.0   78.761932
18 Dorrance Warehouse                                        71.0   73.887324
359 Broadway - Broadway at Fayette Street                  9279.0   94.085677
8D OPS 03                                                     1.0  153.000000
8D QC Station 01                                              4.0  229.000000
...                                                           ...         ...
Wentworth Institute of Technology - Huntington ...         4329.0   68.520906
West Broadway at D Street                                    12.0  109.000000
West Broadway at Dorchester St                               30.0   95.133333
Wilson Square                                              3003.0   94.076257
Yawkey Way at Boylston St.                                12010.0   63.309242

                                                    ...                 \
                                                    ...     75%    max
start_station_name                                  ...
175 N Harvard St                                    ...  103.00  227.0
18 Dorrance Warehouse                               ...  116.00  218.0
359 Broadway - Broadway at Fayette Street           ...  108.00  228.0
8D OPS 03                                           ...  153.00  153.0
8D QC Station 01                                    ...  229.00  229.0
...                                                 ...     ...    ...
Wentworth Institute of Technology - Huntington ...  ...   98.00  228.0
West Broadway at D Street                           ...  150.25  218.0
West Broadway at Dorchester St                      ...  160.00  218.0
Wilson Square                                       ...  115.00  228.0
Yawkey Way at Boylston St.                          ...   80.00  228.0

                                                    bike_id               \
                                                      count         mean
start_station_name
175 N Harvard St                                     6914.0   993.648539
18 Dorrance Warehouse                                  71.0  1265.802817
359 Broadway - Broadway at Fayette Street            9279.0   972.919927
8D OPS 03                                               1.0  1583.000000
8D QC Station 01                                        4.0  1583.000000
...                                                     ...          ...
Wentworth Institute of Technology - Huntington ...   4329.0  1003.287364
West Broadway at D Street                              12.0   739.250000
West Broadway at Dorchester St                         30.0  1134.866667
Wilson Square                                        3003.0   959.341658
Yawkey Way at Boylston St.                          12010.0  1013.340799

                                                                        \
                                                           std     min
start_station_name
175 N Harvard St                                    577.358344     1.0
18 Dorrance Warehouse                               546.255660    69.0
359 Broadway - Broadway at Fayette Street           547.304936     1.0
8D OPS 03                                                  NaN  1583.0
8D QC Station 01                                      0.000000  1583.0
...                                                        ...     ...
Wentworth Institute of Technology - Huntington ...  580.740071     1.0
West Broadway at D Street                           295.677074   251.0
West Broadway at Dorchester St                      501.797990   259.0
Wilson Square                                       566.213114     1.0
Yawkey Way at Boylston St.                          579.886317     1.0

                                                                              \
                                                        25%     50%      75%
start_station_name
175 N Harvard St                                     496.00   985.5  1518.00
18 Dorrance Warehouse                                777.00  1385.0  1770.50
359 Broadway - Broadway at Fayette Street            541.00   956.0  1420.00
8D OPS 03                                           1583.00  1583.0  1583.00
8D QC Station 01                                    1583.00  1583.0  1583.00
...                                                     ...     ...      ...
Wentworth Institute of Technology - Huntington ...   498.00   991.0  1538.00
West Broadway at D Street                            529.75   766.0   853.25
West Broadway at Dorchester St                       702.00  1276.5  1565.00
Wilson Square                                        485.00   924.0  1427.00
Yawkey Way at Boylston St.                           517.00  1013.0  1537.00


                                                       max
start_station_name
175 N Harvard St                                    1979.0
18 Dorrance Warehouse                               1957.0
359 Broadway - Broadway at Fayette Street           1981.0
8D OPS 03                                           1583.0
8D QC Station 01                                    1583.0
...                                                    ...
Wentworth Institute of Technology - Huntington ...  1981.0
West Broadway at D Street                           1228.0
West Broadway at Dorchester St                      1899.0
Wilson Square                                       1976.0
Yawkey Way at Boylston St.                          1979.0

[285 rows x 24 columns]

# Wrong station names
"8D OPS 03"
"8D QC Station 01"
"8D QC Station 02"
They also have 0 hours or NaN.
Maybe test data?

There a also some rows with NaN values; Drop them

In [55]:
groupByStationName.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285 entries, 175 N Harvard St to Yawkey Way at Boylston St.
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (start_station_id, count)  285 non-null    float64
 1   (start_station_id, mean)   285 non-null    float64
 2   (start_station_id, std)    281 non-null    float64
 3   (start_station_id, min)    285 non-null    float64
 4   (start_station_id, 25%)    285 non-null    float64
 5   (start_station_id, 50%)    285 non-null    float64
 6   (start_station_id, 75%)    285 non-null    float64
 7   (start_station_id, max)    285 non-null    float64
 8   (end_station_id, count)    285 non-null    float64
 9   (end_station_id, mean)     285 non-null    float64
 10  (end_station_id, std)      281 non-null    float64
 11  (end_station_id, min)      285 non-null    float64
 12  (end_station_id, 25%)      285 non-null    float64
 13  (end_station_id, 50%)      285 non-null    float64
 14  (end_station_id, 75%)      285 non-null    float64
 15  (end_station_id, max)      285 non-null    float64
 16  (bike_id, count)           285 non-null    float64
 17  (bike_id, mean)            285 non-null    float64
 18  (bike_id, std)             281 non-null    float64
 19  (bike_id, min)             285 non-null    float64
 20  (bike_id, 25%)             285 non-null    float64
 21  (bike_id, 50%)             285 non-null    float64
 22  (bike_id, 75%)             285 non-null    float64
 23  (bike_id, max)             285 non-null    float64
dtypes: float64(24)
memory usage: 55.7+ KB

In [56]:
groupByStationNameC = groupByStationName.dropna(how='any')
groupByStationNameC.info()

<class 'pandas.core.frame.DataFrame'>
Index: 281 entries, 175 N Harvard St to Yawkey Way at Boylston St.
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (start_station_id, count)  281 non-null    float64
 1   (start_station_id, mean)   281 non-null    float64
 2   (start_station_id, std)    281 non-null    float64
 3   (start_station_id, min)    281 non-null    float64
 4   (start_station_id, 25%)    281 non-null    float64
 5   (start_station_id, 50%)    281 non-null    float64
 6   (start_station_id, 75%)    281 non-null    float64
 7   (start_station_id, max)    281 non-null    float64
 8   (end_station_id, count)    281 non-null    float64
 9   (end_station_id, mean)     281 non-null    float64
 10  (end_station_id, std)      281 non-null    float64
 11  (end_station_id, min)      281 non-null    float64
 12  (end_station_id, 25%)      281 non-null    float64
 13  (end_station_id, 50%)      281 non-null    float64
 14  (end_station_id, 75%)      281 non-null    float64
 15  (end_station_id, max)      281 non-null    float64
 16  (bike_id, count)           281 non-null    float64
 17  (bike_id, mean)            281 non-null    float64
 18  (bike_id, std)             281 non-null    float64
 19  (bike_id, min)             281 non-null    float64
 20  (bike_id, 25%)             281 non-null    float64
 21  (bike_id, 50%)             281 non-null    float64
 22  (bike_id, 75%)             281 non-null    float64
 23  (bike_id, max)             281 non-null    float64
dtypes: float64(24)
memory usage: 54.9+ KB

# Grouping to find outliners

In [57]:
groupByStartStation = data.groupby("start_station_id")
groupByStartStation.describe()

                 end_station_id                                              \
                          count        mean        std    min    25%    50%
start_station_id
1                          71.0   73.887324  57.651799    1.0    6.0   73.0
3                        4554.0   62.941809  53.447420    3.0   21.0   46.0
4                        9092.0   66.418940  54.111746    3.0   25.0   49.0
5                        7378.0   61.831120  52.862216    3.0   25.0   46.0
6                       11704.0   78.907980  54.001011    3.0   43.0   61.0
...                         ...         ...        ...    ...    ...    ...
227                      5836.0   82.193283  66.186993    3.0   36.0   67.0
228                      1491.0   95.340040  64.666125    4.0   53.0   76.0
229                         4.0  229.000000   0.000000  229.0  229.0  229.0
230                         3.0  230.000000   0.000000  230.0  230.0  230.0
232                         4.0  136.750000  93.990691   56.0   56.0  129.5

                                 bike_id                                   \
                     75%    max    count         mean         std     min
start_station_id
1                 116.00  218.0     71.0  1265.802817  546.255660    69.0
3                  90.00  227.0   4554.0   962.453448  567.314545     1.0
4                  81.00  228.0   9092.0  1001.114276  575.887832     1.0
5                  76.00  228.0   7378.0   986.893332  575.771504     1.0
6                 102.00  228.0  11704.0   991.795882  577.576324     1.0
...                  ...    ...      ...          ...         ...     ...
227               108.00  228.0   5836.0   964.648561  573.090053     1.0
228               144.00  228.0   1491.0   953.961100  587.827323     1.0
229               229.00  229.0      4.0  1583.000000    0.000000  1583.0
230               230.00  230.0      3.0  1583.000000    0.000000  1583.0
232               210.25  232.0      4.0   565.750000  486.534257    59.0


                     25%     50%      75%     max
start_station_id
1                  777.0  1385.0  1770.50  1957.0
3                  486.0   933.0  1430.00  1980.0
4                  522.0   987.0  1520.00  1980.0
5                  502.0   968.0  1513.00  1981.0
6                  501.0   978.0  1515.00  1980.0
...                  ...     ...      ...     ...
227                476.0   932.0  1461.00  1981.0
228                458.0   888.0  1531.00  1980.0
229               1583.0  1583.0  1583.00  1583.0
230               1583.0  1583.0  1583.00  1583.0
232                201.5   571.5   935.75  1061.0

[200 rows x 16 columns]

In [58]:
groupByUserType = data.groupby("user_type").describe()
groupByUserType

           start_station_id                                                \
                      count       mean        std  min   25%   50%    75%
user_type
Customer           209036.0  79.787400  53.038360  3.0  43.0  67.0  107.0
Subscriber        1104738.0  86.831294  56.882883  1.0  43.0  74.0  119.0

                  end_station_id             ...                  bike_id  \
              max          count       mean  ...    75%    max      count
user_type                                    ...
Customer    230.0       209036.0  79.515595  ...  105.0  230.0   209036.0
Subscriber  232.0      1104738.0  86.684203  ...  118.0  232.0  1104738.0


                  mean         std  min    25%    50%     75%     max
user_type
Customer    971.644334  566.439833  1.0  494.0  953.0  1463.0  1981.0
Subscriber  997.203960  570.746276  1.0  521.0  981.0  1517.0  1981.0

[2 rows x 24 columns]

In [59]:
groupByEndStation = data.groupby("end_station_id").describe()
groupByEndStation

               start_station_id                                              \
                          count        mean        std    min    25%    50%
end_station_id
1                         265.0   90.720755  53.108855    1.0   52.0   84.0
3                        4581.0   64.964418  57.953142    3.0   16.0   46.0
4                        8944.0   67.378131  53.127751    3.0   25.0   52.0
5                        7534.0   66.677197  55.466542    3.0   27.0   50.0
6                       11554.0   78.446772  54.007849    3.0   40.0   64.0
...                         ...         ...        ...    ...    ...    ...
227                      5955.0   78.967758  65.973557    3.0   32.0   60.0
228                      1489.0   95.292814  65.078119    4.0   52.0   74.0
229                         4.0  229.000000   0.000000  229.0  229.0  229.0
230                         3.0  230.000000   0.000000  230.0  230.0  230.0
232                         1.0  232.000000        NaN  232.0  232.0  232.0

                              bike_id                                   \
                  75%    max    count         mean         std     min
end_station_id
1               149.0  194.0    265.0   955.505660  588.938665     2.0
3                98.0  227.0   4581.0   965.900022  565.473352     1.0
4                81.0  228.0   8944.0   997.767218  574.413827     1.0
5                85.0  228.0   7534.0   985.443589  574.695886     1.0
6               102.0  228.0  11554.0   992.070106  577.624746     1.0
...               ...    ...      ...          ...         ...     ...
227             107.0  228.0   5955.0   963.599832  572.768798     1.0
228             177.0  228.0   1489.0   944.772330  582.593801     1.0
229             229.0  229.0      4.0  1583.000000    0.000000  1583.0
230             230.0  230.0      3.0  1583.000000    0.000000  1583.0
232             232.0  232.0      1.0   249.000000         NaN   249.0


                   25%     50%     75%     max
end_station_id
1                444.0   924.0  1488.0  1957.0
3                491.0   939.0  1433.0  1980.0
4                520.0   986.0  1514.0  1980.0
5                504.0   967.0  1508.0  1981.0
6                501.0   980.0  1515.0  1980.0
...                ...     ...     ...     ...
227              474.0   932.0  1460.0  1981.0
228              452.0   881.0  1461.0  1980.0
229             1583.0  1583.0  1583.0  1583.0
230             1583.0  1583.0  1583.0  1583.0
232              249.0   249.0   249.0   249.0

[200 rows x 16 columns]

In [60]:
groupByStartName = data.groupby("start_station_name").describe()
groupByStartName["start_station_id"]["std"].max()

0.0

In [61]:
groupByEndName = data.groupby("end_station_name").describe()
groupByEndName["end_station_id"]["std"].max()

0.0

In [62]:
groupByStartName.describe()

      start_station_id                                                         \
                 count        mean    std         min         25%         50%
count       285.000000  285.000000  281.0  285.000000  285.000000  285.000000
mean       4609.733333  105.108772    0.0  105.108772  105.108772  105.108772
std        5945.551619   68.061375    0.0   68.061375   68.061375   68.061375
min           1.000000    1.000000    0.0    1.000000    1.000000    1.000000
25%          69.000000   44.000000    0.0   44.000000   44.000000   44.000000
50%        2466.000000   98.000000    0.0   98.000000   98.000000   98.000000
75%        7500.000000  163.000000    0.0  163.000000  163.000000  163.000000
max       42320.000000  232.000000    0.0  232.000000  232.000000  232.000000

                              end_station_id              ...              \
              75%         max          count        mean  ...         75%
count  285.000000  285.000000     285.000000  285.000000  ...  285.000000
mean   105.108772  105.108772    4609.733333   87.338278  ...  118.527193
std     68.061375   68.061375    5945.551619   35.959283  ...   41.477318
min      1.000000    1.000000       1.000000   11.000000  ...   11.000000
25%     44.000000   44.000000      69.000000   69.056085  ...   91.000000
50%     98.000000   98.000000    2466.000000   80.890411  ...  114.000000
75%    163.000000  163.000000    7500.000000   96.108004  ...  143.000000
max    232.000000  232.000000   42320.000000  230.000000  ...  230.000000

                        bike_id                                         \
              max         count         mean          std          min
count  285.000000    285.000000   285.000000   281.000000   285.000000
mean   210.677193   4609.733333   998.316102   559.336303    68.368421
std     36.925043   5945.551619   131.525189    79.633583   237.243979
min     11.000000      1.000000   447.000000     0.000000     1.000000
25%    218.000000     69.000000   972.337405   556.644141     1.000000
50%    227.000000   2466.000000   994.860465   571.200235     1.000000
75%    228.000000   7500.000000  1019.920455   580.651534    17.000000
max    232.000000  42320.000000  1891.000000  1083.994696  1891.000000


               25%          50%          75%          max
count   285.000000   285.000000   285.000000   285.000000
mean    549.478947   990.185965  1471.600000  1900.259649
std     180.522747   159.751150   175.238311   203.120973
min     110.000000   447.000000   448.000000   448.000000
25%     492.000000   943.000000  1456.000000  1912.000000
50%     517.000000   979.000000  1513.000000  1979.000000
75%     547.250000  1016.000000  1547.000000  1981.000000
max    1891.000000  1891.000000  1891.000000  1981.000000

[8 rows x 24 columns]

# Looking for wrong dates

In [63]:
data['start_time'] = pd.to_datetime(data["start_time"])
data['end_time'] = pd.to_datetime(data["end_time"])

In [64]:
x = data["end_time"] - data["start_time"]
# x.min()
print(data[data.end_time - data.start_time <= timedelta(minutes=0)])

                 start_time            end_time  start_station_id  \
1175230 2017-11-05 01:52:32 2017-11-05 01:00:38                55
1175233 2017-11-05 01:55:32 2017-11-05 01:06:34                48
1175235 2017-11-05 01:57:53 2017-11-05 01:08:30                90
1175236 2017-11-05 01:58:28 2017-11-05 01:16:59                49
1175237 2017-11-05 01:58:50 2017-11-05 01:04:57                49
1175238 2017-11-05 01:59:59 2017-11-05 01:21:46                49

         end_station_id                           start_station_name  \
1175230             178             Boylston St at Massachusetts Ave
1175233              39     Post Office Square - Pearl St at Milk St
1175235              80  Lechmere Station at Cambridge St / First St
1175236             178                      Stuart St at Charles St
1175237              60                      Stuart St at Charles St
1175238             130                      Stuart St at Charles St

                                    end_station_name  bike_id   user_type
1175230              MIT Pacific St at Purrington St     1038  Subscriber
1175233                  Washington St at Rutland St     1916  Subscriber
1175235      MIT Stata Center at Vassar St / Main St     1021  Subscriber
1175236              MIT Pacific St at Purrington St     1139  Subscriber
1175237  Charles Circle - Charles St at Cambridge St      847  Subscriber
1175238                               Upham's Corner     1645  Subscriber

# Daylight savings was on the 5th Nov, therefore could explain the wrong data

# Find false IDs

In [65]:
groupByBike = data.groupby("bike_id")[
    'start_station_name'].describe()
groupByBike

        count unique                                      top freq
bike_id
1         774    157             MIT at Mass Ave / Amherst St   27
2         245    107  MIT Stata Center at Vassar St / Main St    9
3         965    159             MIT at Mass Ave / Amherst St   26
4         957    160         South Station - 700 Atlantic Ave   28
5         573    140    Central Square at Mass Ave / Essex St   23
...       ...    ...                                      ...  ...
1977       58     36         Prudential Center - Belvedere St    5
1978      126     79         South Station - 700 Atlantic Ave    9
1979      190     96             MIT at Mass Ave / Amherst St   12
1980      167     85           Boston City Hall - 28 State St    9
1981      140     81             MIT at Mass Ave / Amherst St    8

[1799 rows x 4 columns]

# Drop end date before start date

In [66]:
dataCleaned1 = data[data.end_time - data.start_time >= timedelta(minutes=0)]

In [67]:
dataCleaned2 = dataCleaned1.drop_duplicates()

In [68]:
dataCleaned3 = dataCleaned2[np.isfinite(
    pd.to_numeric(dataCleaned2.bike_id, errors="coerce"))]
dataCleaned3

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2017-01-01 00:06:58,2017-01-01 00:12:49,67,139,MIT at Mass Ave / Amherst St,Dana Park,644,Subscriber
1,2017-01-01 00:13:16,2017-01-01 00:28:07,36,10,Boston Public Library - 700 Boylston St.,B.U. Central - 725 Comm. Ave.,230,Subscriber
2,2017-01-01 00:16:17,2017-01-01 00:44:10,36,9,Boston Public Library - 700 Boylston St.,Agganis Arena - 925 Comm Ave.,980,Customer
3,2017-01-01 00:21:22,2017-01-01 00:33:50,46,19,Christian Science Plaza,Buswell St. at Park Dr.,1834,Subscriber
4,2017-01-01 00:30:06,2017-01-01 00:40:28,10,8,B.U. Central - 725 Comm. Ave.,Union Square - Brighton Ave. at Cambridge St.,230,Subscriber
...,...,...,...,...,...,...,...,...
1313769,2017-12-31 23:46:18,2017-12-31 23:50:27,117,141,Binney St / Sixth St,Kendall Street,1846,Subscriber
1313770,2017-12-29 16:11:56,2017-12-29 16:16:18,54,42,Tremont St at West St,Boylston St at Arlington St TEMPORARY WINTER L...,2,Subscriber
1313771,2017-12-30 08:09:44,2017-12-30 08:26:08,54,58,Tremont St at West St,Beacon St at Arlington St,1534,Subscriber
1313772,2017-12-30 12:20:01,2017-12-30 12:49:12,54,46,Tremont St at West St,Christian Science Plaza - Massachusetts Ave at...,1978,Subscriber
1313773,2017-12-30 18:27:39,2017-12-30 18:53:54,54,21,Tremont St at West St,Prudential Center - Belvedere St,15,Subscriber

In [69]:
dataCleaned4a = dataCleaned3[dataCleaned3.start_station_name != '8D OPS 03']
dataCleaned4b = dataCleaned4a[dataCleaned4a.start_station_name != '8D QC Station 01']
dataCleaned4c = dataCleaned4b[dataCleaned4b.start_station_name != '8D QC Station 02']

In [70]:
dataCleaned4c.describe()

       start_station_id  end_station_id       bike_id
count      1.313760e+06    1.313760e+06  1.313760e+06
mean       8.570985e+01    8.554266e+01  9.931323e+02
std        5.634691e+01    5.648232e+01  5.701400e+02
min        1.000000e+00    1.000000e+00  1.000000e+00
25%        4.300000e+01    4.300000e+01  5.160000e+02
50%        7.400000e+01    7.400000e+01  9.780000e+02
75%        1.170000e+02    1.170000e+02  1.512000e+03
max        2.320000e+02    2.320000e+02  1.981000e+03

In [71]:
dataCleaned5 = dataCleaned4c[dataCleaned4c['start_station_id'].notna()]
dataCleaned5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313760 entries, 0 to 1313773
Data columns (total 8 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   start_time          1313760 non-null  datetime64[ns]
 1   end_time            1313760 non-null  datetime64[ns]
 2   start_station_id    1313760 non-null  int64
 3   end_station_id      1313760 non-null  int64
 4   start_station_name  1313760 non-null  object
 5   end_station_name    1313760 non-null  object
 6   bike_id             1313760 non-null  int64
 7   user_type           1313760 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 90.2+ MB

# Write cleaned Data

In [72]:
data_cleaned = dataCleaned4c

In [73]:
data_cleaned.to_csv("Boston_Data_Clean.csv")