In [2]:
import pandas as pd
df = pd.read_csv("weather_hourly_boston.csv",  parse_dates=[
                          "date_time"]
    ) ## load data
df ## Present data

                date_time  max_temp  min_temp  precip
0     2015-01-02 01:00:00      -1.1      -1.1     0.0
1     2015-01-02 02:00:00      -1.1      -1.1     0.0
2     2015-01-02 03:00:00      -0.6      -0.6     0.0
3     2015-01-02 04:00:00      -0.6      -0.6     0.0
4     2015-01-02 05:00:00      -0.6      -0.6     0.0
...                   ...       ...       ...     ...
43843 2020-01-01 20:00:00       5.0       5.0     0.0
43844 2020-01-01 21:00:00       4.4       4.4     0.0
43845 2020-01-01 22:00:00       4.4       4.4     0.0
43846 2020-01-01 23:00:00       3.9       3.9     0.0
43847 2020-01-02 00:00:00       3.3       3.3     0.0

[43848 rows x 4 columns]

In [4]:
missing_values = df.isna().sum() ## Check for missing values
missing_values

new_df= df.fillna(method='bfill') ## Fill the missing data with data from the next rows

new_df.to_csv('cleaned_weather_fixed.csv') ## Save cleaned file

In [5]:
weatherData = new_df[(new_df["date_time"].dt.year > 2016) & (
    new_df["date_time"].dt.year < 2018)] ## Cut off data from other years, so we only have data for 2017

weatherData.to_csv('cleaned_weather_2017_fix.csv') ## Save data for 2017

In [8]:
new_df.isna().sum() ## check for any missing variables

date_time    0
max_temp     0
min_temp     0
precip       0
dtype: int64